.content {
  padding: 0 40px 40px;
  overflow: auto;
  width: 100%;
  height: 100%;
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .row:hover {
    background-color: var(--surface-10)
  }

  .cell {
    border-bottom: var(--border);
    padding: 8px;
    text-align: left;
  }

  .removeButton {
    background-color: transparent;
    color: var(--primary-50);
    border: none;
    padding: 6px 0 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .removeButton:hover {
    color: var(--primary-30);
  }

  .emptyMessage {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--surface-40);
    text-align: center;
    height: 100%;

    .image {
      height: 250px;
      object-fit: contain;
    }
  }
}
