.searchBar {
  height: 40px;
  width: 100%;
  display: flex;
  margin: 16px 0;

  .input {
    padding: 12px;
    height: 100%;
    flex-grow: 1;
    border: var(--border);
    border-radius: none;
    outline: none;
    font-size: 16px;
  }

  .button {
    height: 100%;
    padding: 12px;
    min-width: 120px;
    background-color: var(--primary-40);
    color: var(--surface-0);
    font-size: 16px;

    &:hover {
      background-color: var(--foreground);
    }
  }
}
