.searchBar {
  height: 40px;
  width: 100%;
  display: flex;
  margin: 16px 0;

  .input {
    padding: 12px;
    height: 100%;
    flex-grow: 1;
    border: var(--border);
    border-radius: none;
    outline: none;
    font-size: 16px;
  }

  .button {
    height: 100%;
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 120px;
    border: none;
    border-radius: none;
    background-color: var(--primary-40);
    cursor: pointer;
    color: #121212;
    font-weight: 800;
    font-size: 16px;

    &:hover {
      background-color: var(--primary-20);
    }
  }
}
