.searchPanel {
  display: flex;
  flex-direction: column;
  gap: 16px;
  height: 100%;
  background: var(--surface-0);

  .header {
    padding: 40px 40px 0;
  }

  .results {
    padding: 20px 40px 40px 40px;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .pagination {
      display: flex;
      justify-content: stretch;
      align-items: center;

      .button {
        font-size: 16px;
        padding: 12px 8px;
        background: none;
        border: none;
        color: var(--primary-50);
        cursor: pointer;

        &:not(:first-of-type) {
            margin-left: auto;
        }

        &:hover,
        &.active {
          color: var(--primary-30);
        }
      }
    }
  }
}
