.header {
  padding: 24px;
  background-color: var(--surface-0);
  border-bottom: var(--border);

  @media (min-width: 1200px) {
    display: none;
  }

  .navigation {
    display: flex;
    gap: 16px;

    .button {
      font-size: 18px;
      padding: 12px 0;
      background: none;
      color: var(--primary-50);

      &:hover,
      &.active {
        color: var(--foreground);
      }
    }
  }
}
